#subsection{
  padding: 48px 0;
  & p{
    text-align: justify;
  }
}

#dummy-img{
  width: auto;
  height: 300px;
  display: grid;
  place-items: center;
  border: 2px dashed black;
  flex-shrink: 0;
}

.service {
    flex: 1 1 calc(33.333% - 1.5rem);
    min-width: 280px;
}

@media (max-width: 992px) {
    .service {
        flex: 1 1 calc(50% - 1.5rem);
    }
}

@media (max-width: 576px) {
    .service {
        flex: 1 1 100%;
    }
}
