<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark-subtle">
  <div class="container-fluid px-4 py-1">
    <!-- Logo Brand -->
    <a class="navbar-brand" routerLink="/"><h2 class="mb-0">NISSIN</h2></a>

    <!-- Tombol Hamburger untuk Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Navigasi -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @for (menu of navMenus; track menu.text) {
          <li class="nav-item">
            <a class="nav-link"
              [routerLink]="menu.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: menu.exact }">
              {{ menu.text }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
