#subsection {
  padding: 48px 0;
}

#mainCarousel {
  width: 98.8vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-landscape-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.carousel-placeholder {
  width: 100%;
  height: 400px;
  background-color: #f8f9fa;
  border: 2px dashed #dee2e6;
}

.product-category{
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 98.8vw;
    height: 100%;
    background-image: url('/images/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
  }
}

.about-us-content{
  border: none;
  flex: 1 1 0%;
  width: 100%;
  aspect-ratio: 4/5;
  overflow: hidden;
  background-color: transparent;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
  }
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}

#category-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width:100%;

  .category-img-wrapper {
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    overflow: hidden;
  }

  .category-thumb {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
  }
}

@media (min-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .carousel-landscape-img, .carousel-placeholder {
    height: 200px;
  }
}
